# STEPS IN DATA PROCESSING
   Step 1: Import the libraries
   Step 2: Import the dataset
   Step 3: Check out the missing values
   Step 4: See the categorical values
   Step 5: Splitting the dataset into training and test set
   Step 6: Feature Scaling

# IMPORT THE LIBRARIES

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

# IMPORTING DATASET

In [4]:
dataset=pd.read_csv('WorldCupMatches.csv')
dataset

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930.0,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4.0,1.0,Mexico,,4444.0,3.0,0.0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201.0,1096.0,FRA,MEX
1,1930.0,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3.0,0.0,Belgium,,18346.0,2.0,0.0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201.0,1090.0,USA,BEL
2,1930.0,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2.0,1.0,Brazil,,24059.0,2.0,0.0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201.0,1093.0,YUG,BRA
3,1930.0,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3.0,1.0,Peru,,2549.0,1.0,0.0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201.0,1098.0,ROU,PER
4,1930.0,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1.0,0.0,France,,23409.0,0.0,0.0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201.0,1085.0,ARG,FRA
5,1930.0,16 Jul 1930 - 14:45,Group 1,Parque Central,Montevideo,Chile,3.0,0.0,Mexico,,9249.0,1.0,0.0,CRISTOPHE Henry (BEL),APHESTEGUY Martin (URU),LANGENUS Jean (BEL),201.0,1095.0,CHI,MEX
6,1930.0,17 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,4.0,0.0,Bolivia,,18306.0,0.0,0.0,MATEUCCI Francisco (URU),LOMBARDI Domingo (URU),WARNKEN Alberto (CHI),201.0,1092.0,YUG,BOL
7,1930.0,17 Jul 1930 - 14:45,Group 4,Parque Central,Montevideo,USA,3.0,0.0,Paraguay,,18306.0,2.0,0.0,MACIAS Jose (ARG),APHESTEGUY Martin (URU),TEJADA Anibal (URU),201.0,1097.0,USA,PAR
8,1930.0,18 Jul 1930 - 14:30,Group 3,Estadio Centenario,Montevideo,Uruguay,1.0,0.0,Peru,,57735.0,0.0,0.0,LANGENUS Jean (BEL),BALWAY Thomas (FRA),CRISTOPHE Henry (BEL),201.0,1099.0,URU,PER
9,1930.0,19 Jul 1930 - 12:50,Group 1,Estadio Centenario,Montevideo,Chile,1.0,0.0,France,,2000.0,0.0,0.0,TEJADA Anibal (URU),LOMBARDI Domingo (URU),REGO Gilberto (BRA),201.0,1094.0,CHI,FRA
10,1930.0,19 Jul 1930 - 15:00,Group 1,Estadio Centenario,Montevideo,Argentina,6.0,3.0,Mexico,,42100.0,3.0,1.0,SAUCEDO Ulises (BOL),ALONSO Gualberto (URU),RADULESCU Constantin (ROU),201.0,1086.0,ARG,MEX
11,1930.0,20 Jul 1930 - 13:00,Group 2,Estadio Centenario,Montevideo,Brazil,4.0,0.0,Bolivia,,25466.0,1.0,0.0,BALWAY Thomas (FRA),MATEUCCI Francisco (URU),VALLEJO Gaspar (MEX),201.0,1091.0,BRA,BOL
12,1930.0,20 Jul 1930 - 15:00,Group 4,Estadio Centenario,Montevideo,Paraguay,1.0,0.0,Belgium,,12000.0,1.0,0.0,VALLARINO Ricardo (URU),MACIAS Jose (ARG),LOMBARDI Domingo (URU),201.0,1089.0,PAR,BEL
13,1930.0,21 Jul 1930 - 14:50,Group 3,Estadio Centenario,Montevideo,Uruguay,4.0,0.0,Romania,,70022.0,4.0,0.0,REGO Gilberto (BRA),WARNKEN Alberto (CHI),SAUCEDO Ulises (BOL),201.0,1100.0,URU,ROU
14,1930.0,22 Jul 1930 - 14:45,Group 1,Estadio Centenario,Montevideo,Argentina,3.0,1.0,Chile,,41459.0,2.0,1.0,LANGENUS Jean (BEL),CRISTOPHE Henry (BEL),SAUCEDO Ulises (BOL),201.0,1084.0,ARG,CHI
15,1930.0,26 Jul 1930 - 14:45,Semi-finals,Estadio Centenario,Montevideo,Argentina,6.0,1.0,USA,,72886.0,1.0,0.0,LANGENUS Jean (BEL),VALLEJO Gaspar (MEX),WARNKEN Alberto (CHI),202.0,1088.0,ARG,USA
16,1930.0,27 Jul 1930 - 14:45,Semi-finals,Estadio Centenario,Montevideo,Uruguay,6.0,1.0,Yugoslavia,,79867.0,3.0,1.0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),BALWAY Thomas (FRA),202.0,1101.0,URU,YUG
17,1930.0,30 Jul 1930 - 14:15,Final,Estadio Centenario,Montevideo,Uruguay,4.0,2.0,Argentina,,68346.0,1.0,2.0,LANGENUS Jean (BEL),SAUCEDO Ulises (BOL),CRISTOPHE Henry (BEL),405.0,1087.0,URU,ARG
18,1934.0,27 May 1934 - 16:30,Preliminary round,Stadio Benito Mussolini,Turin,Austria,3.0,2.0,France,Austria win after extra time,16000.0,0.0,0.0,VAN MOORSEL Johannes (NED),CAIRONI Camillo (ITA),BAERT Louis (BEL),204.0,1104.0,AUT,FRA
19,1934.0,27 May 1934 - 16:30,Preliminary round,Giorgio Ascarelli,Naples,Hungary,4.0,2.0,Egypt,,9000.0,2.0,2.0,BARLASSINA Rinaldo (ITA),DATTILO Generoso (ITA),SASSI Otello (ITA),204.0,1119.0,HUN,EGY
20,1934.0,27 May 1934 - 16:30,Preliminary round,San Siro,Milan,Switzerland,3.0,2.0,Netherlands,,33000.0,2.0,1.0,EKLIND Ivan (SWE),BERANEK Alois (AUT),BONIVENTO Ferruccio (ITA),204.0,1133.0,SUI,NED
21,1934.0,27 May 1934 - 16:30,Preliminary round,Littorale,Bologna,Sweden,3.0,2.0,Argentina,,14000.0,1.0,1.0,BRAUN Eugen (AUT),CARRARO Albino (ITA),TURBIANI Giuseppe (ITA),204.0,1102.0,SWE,ARG
22,1934.0,27 May 1934 - 16:30,Preliminary round,Giovanni Berta,Florence,Germany,5.0,2.0,Belgium,,8000.0,1.0,2.0,MATTEA Francesco (ITA),MELANDRI Ermenegildo (ITA),BAERT Jacques (FRA),204.0,1108.0,GER,BEL
23,1934.0,27 May 1934 - 16:30,Preliminary round,Luigi Ferraris,Genoa,Spain,3.0,1.0,Brazil,,21000.0,3.0,0.0,BIRLEM Alfred (GER),CARMINATI Ettore (ITA),IVANCSICS Mihaly (HUN),204.0,1111.0,ESP,BRA
24,1934.0,27 May 1934 - 16:30,Preliminary round,Nazionale PNF,Rome,Italy,7.0,1.0,USA,,25000.0,3.0,0.0,MERCET Rene (SUI),ESCARTIN Pedro (ESP),ZENISEK Bohumil (TCH),204.0,1135.0,ITA,USA
25,1934.0,27 May 1934 - 16:30,Preliminary round,Littorio,Trieste,Czechoslovakia,2.0,1.0,Romania,,9000.0,0.0,1.0,LANGENUS Jean (BEL),SCARPI Giuseppe (ITA),SCORZONI Raffaele (ITA),204.0,1141.0,TCH,ROU
26,1934.0,31 May 1934 - 16:30,Quarter-finals,Stadio Benito Mussolini,Turin,Czechoslovakia,3.0,2.0,Switzerland,,12000.0,1.0,1.0,BERANEK Alois (AUT),MOHAMED Youssuf (EGY),BAERT Jacques (FRA),418.0,1143.0,TCH,SUI
27,1934.0,31 May 1934 - 16:30,Quarter-finals,San Siro,Milan,Germany,2.0,1.0,Sweden,,3000.0,0.0,0.0,BARLASSINA Rinaldo (ITA),MERCET Rene (SUI),VAN MOORSEL Johannes (NED),418.0,1129.0,GER,SWE
28,1934.0,31 May 1934 - 16:30,Quarter-finals,Giovanni Berta,Florence,Italy,1.0,1.0,Spain,,35000.0,0.0,0.0,BAERT Louis (BEL),ZENISEK Bohumil (TCH),IVANCSICS Mihaly (HUN),418.0,1122.0,ITA,ESP
29,1934.0,31 May 1934 - 16:30,Quarter-finals,Littorale,Bologna,Austria,2.0,1.0,Hungary,,23000.0,1.0,0.0,MATTEA Francesco (ITA),ESCARTIN Pedro (ESP),BIRLEM Alfred (GER),418.0,1106.0,AUT,HUN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4542,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4543,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4544,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4545,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4546,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4547,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4548,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4549,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4550,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4551,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4552,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4553,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4554,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4555,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4556,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4557,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4558,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4559,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4560,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4561,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4562,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4564,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4565,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4566,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4568,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4569,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
dataset.shape

(4572, 20)

In [6]:
dataset.head()

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930.0,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4.0,1.0,Mexico,,4444.0,3.0,0.0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201.0,1096.0,FRA,MEX
1,1930.0,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3.0,0.0,Belgium,,18346.0,2.0,0.0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201.0,1090.0,USA,BEL
2,1930.0,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2.0,1.0,Brazil,,24059.0,2.0,0.0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201.0,1093.0,YUG,BRA
3,1930.0,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3.0,1.0,Peru,,2549.0,1.0,0.0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201.0,1098.0,ROU,PER
4,1930.0,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1.0,0.0,France,,23409.0,0.0,0.0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201.0,1085.0,ARG,FRA

In [7]:
dataset.columns

Index(['Year', 'Datetime', 'Stage', 'Stadium', 'City', 'Home Team Name',
       'Home Team Goals', 'Away Team Goals', 'Away Team Name',
       'Win conditions', 'Attendance', 'Half-time Home Goals',
       'Half-time Away Goals', 'Referee', 'Assistant 1', 'Assistant 2',
       'RoundID', 'MatchID', 'Home Team Initials', 'Away Team Initials'],
      dtype='object')

In [8]:
len(dataset.columns)

20

In [9]:
dataset.index

RangeIndex(start=0, stop=4572, step=1)

In [10]:
dataset.info

<bound method DataFrame.info of         Year              Datetime              Stage  \
0     1930.0  13 Jul 1930 - 15:00             Group 1
1     1930.0  13 Jul 1930 - 15:00             Group 4
2     1930.0  14 Jul 1930 - 12:45             Group 2
3     1930.0  14 Jul 1930 - 14:50             Group 3
4     1930.0  15 Jul 1930 - 16:00             Group 1
5     1930.0  16 Jul 1930 - 14:45             Group 1
6     1930.0  17 Jul 1930 - 12:45             Group 2
7     1930.0  17 Jul 1930 - 14:45             Group 4
8     1930.0  18 Jul 1930 - 14:30             Group 3
9     1930.0  19 Jul 1930 - 12:50             Group 1
10    1930.0  19 Jul 1930 - 15:00             Group 1
11    1930.0  20 Jul 1930 - 13:00             Group 2
12    1930.0  20 Jul 1930 - 15:00             Group 4
13    1930.0  21 Jul 1930 - 14:50             Group 3
14    1930.0  22 Jul 1930 - 14:45             Group 1
15    1930.0  26 Jul 1930 - 14:45         Semi-finals
16    1930.0  27 Jul 1930 - 14:45         Semi-finals
17    1930.0  30 Jul 1930 - 14:15               Final
18    1934.0  27 May 1934 - 16:30   Preliminary round
19    1934.0  27 May 1934 - 16:30   Preliminary round
20    1934.0  27 May 1934 - 16:30   Preliminary round
21    1934.0  27 May 1934 - 16:30   Preliminary round
22    1934.0  27 May 1934 - 16:30   Preliminary round
23    1934.0  27 May 1934 - 16:30   Preliminary round
24    1934.0  27 May 1934 - 16:30   Preliminary round
25    1934.0  27 May 1934 - 16:30   Preliminary round
26    1934.0  31 May 1934 - 16:30      Quarter-finals
27    1934.0  31 May 1934 - 16:30      Quarter-finals
28    1934.0  31 May 1934 - 16:30      Quarter-finals
29    1934.0  31 May 1934 - 16:30      Quarter-finals
...      ...                   ...                ...
4542     NaN                   NaN                NaN
4543     NaN                   NaN                NaN
4544     NaN                   NaN                NaN
4545     NaN                   NaN                NaN
4546     NaN                   NaN                NaN
4547     NaN                   NaN                NaN
4548     NaN                   NaN                NaN
4549     NaN                   NaN                NaN
4550     NaN                   NaN                NaN
4551     NaN                   NaN                NaN
4552     NaN                   NaN                NaN
4553     NaN                   NaN                NaN
4554     NaN                   NaN                NaN
4555     NaN                   NaN                NaN
4556     NaN                   NaN                NaN
4557     NaN                   NaN                NaN
4558     NaN                   NaN                NaN
4559     NaN                   NaN                NaN
4560     NaN                   NaN                NaN
4561     NaN                   NaN                NaN
4562     NaN                   NaN                NaN
4563     NaN                   NaN                NaN
4564     NaN                   NaN                NaN
4565     NaN                   NaN                NaN
4566     NaN                   NaN                NaN
4567     NaN                   NaN                NaN
4568     NaN                   NaN                NaN
4569     NaN                   NaN                NaN
4570     NaN                   NaN                NaN
4571     NaN                   NaN                NaN

                      Stadium         City  Home Team Name  Home Team Goals  \
0                     Pocitos  Montevideo           France              4.0
1              Parque Central  Montevideo              USA              3.0
2              Parque Central  Montevideo       Yugoslavia              2.0
3                     Pocitos  Montevideo          Romania              3.0
4              Parque Central  Montevideo        Argentina              1.0
5              Parque Central  Montevideo            Chile              3.0
6              Parque Central  Montevideo       Yugoslavia              4.0
7              Parque Central  Montevideo              USA              3.0
8          Estadio Centenario  Montevideo          Uruguay              1.0
9          Estadio Centenario  Montevideo            Chile              1.0
10         Estadio Centenario  Montevideo        Argentina              6.0
11         Estadio Centenario  Montevideo           Brazil              4.0
12         Estadio Centenario  Montevideo         Paraguay              1.0
13         Estadio Centenario  Montevideo          Uruguay              4.0
14         Estadio Centenario  Montevideo        Argentina              3.0
15         Estadio Centenario  Montevideo        Argentina              6.0
16         Estadio Centenario  Montevideo          Uruguay              6.0
17         Estadio Centenario  Montevideo          Uruguay              4.0
18    Stadio Benito Mussolini       Turin          Austria              3.0
19          Giorgio Ascarelli      Naples          Hungary              4.0
20                   San Siro       Milan      Switzerland              3.0
21                  Littorale     Bologna           Sweden              3.0
22             Giovanni Berta    Florence          Germany              5.0
23             Luigi Ferraris       Genoa            Spain              3.0
24              Nazionale PNF        Rome            Italy              7.0
25                   Littorio     Trieste   Czechoslovakia              2.0
26    Stadio Benito Mussolini       Turin   Czechoslovakia              3.0
27                   San Siro       Milan          Germany              2.0
28             Giovanni Berta    Florence            Italy              1.0
29                  Littorale     Bologna          Austria              2.0
...                       ...          ...             ...              ...
4542                      NaN          NaN             NaN              NaN
4543                      NaN          NaN             NaN              NaN
4544                      NaN          NaN             NaN              NaN
4545                      NaN          NaN             NaN              NaN
4546                      NaN          NaN             NaN              NaN
4547                      NaN          NaN             NaN              NaN
4548                      NaN          NaN             NaN              NaN
4549                      NaN          NaN             NaN              NaN
4550                      NaN          NaN             NaN              NaN
4551                      NaN          NaN             NaN              NaN
4552                      NaN          NaN             NaN              NaN
4553                      NaN          NaN             NaN              NaN
4554                      NaN          NaN             NaN              NaN
4555                      NaN          NaN             NaN              NaN
4556                      NaN          NaN             NaN              NaN
4557                      NaN          NaN             NaN              NaN
4558                      NaN          NaN             NaN              NaN
4559                      NaN          NaN             NaN              NaN
4560                      NaN          NaN             NaN              NaN
4561                      NaN          NaN             NaN              NaN
4562                      NaN          NaN             NaN              NaN
4563                      NaN          NaN             NaN              NaN
4564                      NaN          NaN             NaN              NaN
4565                      NaN          NaN             NaN              NaN
4566                      NaN          NaN             NaN              NaN
4567                      NaN          NaN             NaN              NaN
4568                      NaN          NaN             NaN              NaN
4569                      NaN          NaN             NaN              NaN
4570                      NaN          NaN             NaN              NaN
4571                      NaN          NaN             NaN              NaN

      Away Team Goals Away Team Name                 Win conditions  \
0                 1.0         Mexico
1                 0.0        Belgium
2                 1.0         Brazil
3                 1.0           Peru
4                 0.0         France
5                 0.0         Mexico
6                 0.0        Bolivia
7                 0.0       Paraguay
8                 0.0           Peru
9                 0.0         France
10                3.0         Mexico
11                0.0        Bolivia
12                0.0        Belgium
13                0.0        Romania
14                1.0          Chile
15                1.0            USA
16                1.0     Yugoslavia
17                2.0      Argentina
18                2.0         France  Austria win after extra time
19                2.0          Egypt
20                2.0    Netherlands
21                2.0      Argentina
22                2.0        Belgium
23                1.0         Brazil
24                1.0            USA
25                1.0        Romania
26                2.0    Switzerland
27                1.0         Sweden
28                1.0          Spain
29                1.0        Hungary
...               ...            ...                            ...
4542              NaN            NaN                            NaN
4543              NaN            NaN                            NaN
4544              NaN            NaN                            NaN
4545              NaN            NaN                            NaN
4546              NaN            NaN                            NaN
4547              NaN            NaN                            NaN
4548              NaN            NaN                            NaN
4549              NaN            NaN                            NaN
4550              NaN            NaN                            NaN
4551              NaN            NaN                            NaN
4552              NaN            NaN                            NaN
4553              NaN            NaN                            NaN
4554              NaN            NaN                            NaN
4555              NaN            NaN                            NaN
4556              NaN            NaN                            NaN
4557              NaN            NaN                            NaN
4558              NaN            NaN                            NaN
4559              NaN            NaN                            NaN
4560              NaN            NaN                            NaN
4561              NaN            NaN                            NaN
4562              NaN            NaN                            NaN
4563              NaN            NaN                            NaN
4564              NaN            NaN                            NaN
4565              NaN            NaN                            NaN
4566              NaN            NaN                            NaN
4567              NaN            NaN                            NaN
4568              NaN            NaN                            NaN
4569              NaN            NaN                            NaN
4570              NaN            NaN                            NaN
4571              NaN            NaN                            NaN

      Attendance  Half-time Home Goals  Half-time Away Goals  \
0         4444.0                   3.0                   0.0
1        18346.0                   2.0                   0.0
2        24059.0                   2.0                   0.0
3         2549.0                   1.0                   0.0
4        23409.0                   0.0                   0.0
5         9249.0                   1.0                   0.0
6        18306.0                   0.0                   0.0
7        18306.0                   2.0                   0.0
8        57735.0                   0.0                   0.0
9         2000.0                   0.0                   0.0
10       42100.0                   3.0                   1.0
11       25466.0                   1.0                   0.0
12       12000.0                   1.0                   0.0
13       70022.0                   4.0                   0.0
14       41459.0                   2.0                   1.0
15       72886.0                   1.0                   0.0
16       79867.0                   3.0                   1.0
17       68346.0                   1.0                   2.0
18       16000.0                   0.0                   0.0
19        9000.0                   2.0                   2.0
20       33000.0                   2.0                   1.0
21       14000.0                   1.0                   1.0
22        8000.0                   1.0                   2.0
23       21000.0                   3.0                   0.0
24       25000.0                   3.0                   0.0
25        9000.0                   0.0                   1.0
26       12000.0                   1.0                   1.0
27        3000.0                   0.0                   0.0
28       35000.0                   0.0                   0.0
29       23000.0                   1.0                   0.0
...          ...                   ...                   ...
4542         NaN                   NaN                   NaN
4543         NaN                   NaN                   NaN
4544         NaN                   NaN                   NaN
4545         NaN                   NaN                   NaN
4546         NaN                   NaN                   NaN
4547         NaN                   NaN                   NaN
4548         NaN                   NaN                   NaN
4549         NaN                   NaN                   NaN
4550         NaN                   NaN                   NaN
4551         NaN                   NaN                   NaN
4552         NaN                   NaN                   NaN
4553         NaN                   NaN                   NaN
4554         NaN                   NaN                   NaN
4555         NaN                   NaN                   NaN
4556         NaN                   NaN                   NaN
4557         NaN                   NaN                   NaN
4558         NaN                   NaN                   NaN
4559         NaN                   NaN                   NaN
4560         NaN                   NaN                   NaN
4561         NaN                   NaN                   NaN
4562         NaN                   NaN                   NaN
4563         NaN                   NaN                   NaN
4564         NaN                   NaN                   NaN
4565         NaN                   NaN                   NaN
4566         NaN                   NaN                   NaN
4567         NaN                   NaN                   NaN
4568         NaN                   NaN                   NaN
4569         NaN                   NaN                   NaN
4570         NaN                   NaN                   NaN
4571         NaN                   NaN                   NaN

                         Referee                 Assistant 1  \
0         LOMBARDI Domingo (URU)       CRISTOPHE Henry (BEL)
1              MACIAS Jose (ARG)    MATEUCCI Francisco (URU)
2            TEJADA Anibal (URU)     VALLARINO Ricardo (URU)
3          WARNKEN Alberto (CHI)         LANGENUS Jean (BEL)
4            REGO Gilberto (BRA)        SAUCEDO Ulises (BOL)
5          CRISTOPHE Henry (BEL)     APHESTEGUY Martin (URU)
6       MATEUCCI Francisco (URU)      LOMBARDI Domingo (URU)
7              MACIAS Jose (ARG)     APHESTEGUY Martin (URU)
8            LANGENUS Jean (BEL)         BALWAY Thomas (FRA)
9            TEJADA Anibal (URU)      LOMBARDI Domingo (URU)
10          SAUCEDO Ulises (BOL)      ALONSO Gualberto (URU)
11           BALWAY Thomas (FRA)    MATEUCCI Francisco (URU)
12       VALLARINO Ricardo (URU)           MACIAS Jose (ARG)
13           REGO Gilberto (BRA)       WARNKEN Alberto (CHI)
14           LANGENUS Jean (BEL)       CRISTOPHE Henry (BEL)
15           LANGENUS Jean (BEL)        VALLEJO Gaspar (MEX)
16           REGO Gilberto (BRA)        SAUCEDO Ulises (BOL)
17           LANGENUS Jean (BEL)        SAUCEDO Ulises (BOL)
18    VAN MOORSEL Johannes (NED)       CAIRONI Camillo (ITA)
19      BARLASSINA Rinaldo (ITA)      DATTILO Generoso (ITA)
20             EKLIND Ivan (SWE)         BERANEK Alois (AUT)
21             BRAUN Eugen (AUT)        CARRARO Albino (ITA)
22        MATTEA Francesco (ITA)  MELANDRI Ermenegildo (ITA)
23           BIRLEM Alfred (GER)      CARMINATI Ettore (ITA)
24             MERCET Rene (SUI)        ESCARTIN Pedro (ESP)
25           LANGENUS Jean (BEL)       SCARPI Giuseppe (ITA)
26           BERANEK Alois (AUT)       MOHAMED Youssuf (EGY)
27      BARLASSINA Rinaldo (ITA)           MERCET Rene (SUI)
28             BAERT Louis (BEL)       ZENISEK Bohumil (TCH)
29        MATTEA Francesco (ITA)        ESCARTIN Pedro (ESP)
...                          ...                         ...
4542                         NaN                         NaN
4543                         NaN                         NaN
4544                         NaN                         NaN
4545                         NaN                         NaN
4546                         NaN                         NaN
4547                         NaN                         NaN
4548                         NaN                         NaN
4549                         NaN                         NaN
4550                         NaN                         NaN
4551                         NaN                         NaN
4552                         NaN                         NaN
4553                         NaN                         NaN
4554                         NaN                         NaN
4555                         NaN                         NaN
4556                         NaN                         NaN
4557                         NaN                         NaN
4558                         NaN                         NaN
4559                         NaN                         NaN
4560                         NaN                         NaN
4561                         NaN                         NaN
4562                         NaN                         NaN
4563                         NaN                         NaN
4564                         NaN                         NaN
4565                         NaN                         NaN
4566                         NaN                         NaN
4567                         NaN                         NaN
4568                         NaN                         NaN
4569                         NaN                         NaN
4570                         NaN                         NaN
4571                         NaN                         NaN

                     Assistant 2  RoundID  MatchID Home Team Initials  \
0            REGO Gilberto (BRA)    201.0   1096.0                FRA
1          WARNKEN Alberto (CHI)    201.0   1090.0                USA
2            BALWAY Thomas (FRA)    201.0   1093.0                YUG
3       MATEUCCI Francisco (URU)    201.0   1098.0                ROU
4     RADULESCU Constantin (ROU)    201.0   1085.0                ARG
5            LANGENUS Jean (BEL)    201.0   1095.0                CHI
6          WARNKEN Alberto (CHI)    201.0   1092.0                YUG
7            TEJADA Anibal (URU)    201.0   1097.0                USA
8          CRISTOPHE Henry (BEL)    201.0   1099.0                URU
9            REGO Gilberto (BRA)    201.0   1094.0                CHI
10    RADULESCU Constantin (ROU)    201.0   1086.0                ARG
11          VALLEJO Gaspar (MEX)    201.0   1091.0                BRA
12        LOMBARDI Domingo (URU)    201.0   1089.0                PAR

# CHECK OUT THE MISSING VALUES

In [11]:
dataset.isnull().sum()

Year                    3720
Datetime                3720
Stage                   3720
Stadium                 3720
City                    3720
Home Team Name          3720
Home Team Goals         3720
Away Team Goals         3720
Away Team Name          3720
Win conditions          3720
Attendance              3722
Half-time Home Goals    3720
Half-time Away Goals    3720
Referee                 3720
Assistant 1             3720
Assistant 2             3720
RoundID                 3720
MatchID                 3720
Home Team Initials      3720
Away Team Initials      3720
dtype: int64

# METHOD 1
- To drop the field in which we have null values.
- We delete a particular row if it has a null value for a particular feature and a particular column if it has more than 75% of missing values.
- This method is advised only when there are enough samples in the dataset.

In [12]:
dataset.dropna(inplace=True)

In [13]:
dataset.isnull().sum()

Year                    0
Datetime                0
Stage                   0
Stadium                 0
City                    0
Home Team Name          0
Home Team Goals         0
Away Team Goals         0
Away Team Name          0
Win conditions          0
Attendance              0
Half-time Home Goals    0
Half-time Away Goals    0
Referee                 0
Assistant 1             0
Assistant 2             0
RoundID                 0
MatchID                 0
Home Team Initials      0
Away Team Initials      0
dtype: int64

In [14]:
dataset.shape

(850, 20)

# METHOD 2
- We have to replace Nan with mean,median or mode.
- This method is also called leaking the data while training

In [15]:
dataset['Year'].mean()

1985.0211764705882

In [16]:
dataset['Year'].tail()

847    2014.0
848    2014.0
849    2014.0
850    2014.0
851    2014.0
Name: Year, dtype: float64

In [18]:
dataset['Year'].replace(np.NaN,dataset['Year'].mean()).tail()

847    2014.0
848    2014.0
849    2014.0
850    2014.0
851    2014.0
Name: Year, dtype: float64

# SEE THE CATEGORICAL VALUES
- Machine Learning Models are based on Mathematical equation and you can intituitively understand that it would cause some problem if we can keep the categorical data in the equations because we would only want numbers in the equation

In [20]:
dataset=pd.read_csv('Data.csv')

In [21]:
dataset

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [22]:
dataset.Purchased.replace(('Yes','No'),(1,0),inplace=True)

In [23]:
dataset

   Country   Age   Salary  Purchased
0   France  44.0  72000.0          0
1    Spain  27.0  48000.0          1
2  Germany  30.0  54000.0          0
3    Spain  38.0  61000.0          0
4  Germany  40.0      NaN          1
5   France  35.0  58000.0          1
6    Spain   NaN  52000.0          0
7   France  48.0  79000.0          1
8  Germany  50.0  83000.0          0
9   France  37.0  67000.0          1

In [24]:
dataset.tail()

   Country   Age   Salary  Purchased
5   France  35.0  58000.0          1
6    Spain   NaN  52000.0          0
7   France  48.0  79000.0          1
8  Germany  50.0  83000.0          0
9   France  37.0  67000.0          1

In [25]:
X=dataset.iloc[:,:-1].values

In [26]:
X

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, nan],
       ['France', 35.0, 58000.0],
       ['Spain', nan, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [34]:
dataset.isnull().sum()

Country      0
Age          0
Salary       0
Purchased    0
dtype: int64

In [35]:
dataset.dropna(inplace=True)

In [36]:
dataset.isnull().sum()

Country      0
Age          0
Salary       0
Purchased    0
dtype: int64

# WORKING ON CATEGORICAL VALUES
- We need to encode the categorical variables
- To convert categorical variable into numerical data, we can use LabelEncoder() class from preprocessing library

In [37]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()

In [41]:
X=dataset.iloc[:,:-1].values
X

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['France', 35.0, 58000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [42]:
X[:,0]

array(['France', 'Spain', 'Germany', 'Spain', 'France', 'France',
       'Germany', 'France'], dtype=object)

In [43]:
X[:,0]=label_encoder.fit_transform(X[:,0])
X[:,0]

array([0, 2, 1, 2, 0, 0, 1, 0], dtype=object)

In [44]:
X=np.array(X,dtype='int32')
X

array([[    0,    44, 72000],
       [    2,    27, 48000],
       [    1,    30, 54000],
       [    2,    38, 61000],
       [    0,    35, 58000],
       [    0,    48, 79000],
       [    1,    50, 83000],
       [    0,    37, 67000]])

In [45]:
from sklearn.preprocessing import OneHotEncoder
onehotencoder=OneHotEncoder(categorical_features=[0])

In [47]:
x=onehotencoder.fit_transform(X)
print(x)

  (0, 0)	1.0
  (1, 2)	1.0
  (2, 1)	1.0
  (3, 2)	1.0
  (4, 0)	1.0
  (5, 0)	1.0
  (6, 1)	1.0
  (7, 0)	1.0
  (0, 3)	44.0
  (0, 4)	72000.0
  (1, 3)	27.0
  (1, 4)	48000.0
  (2, 3)	30.0
  (2, 4)	54000.0
  (3, 3)	38.0
  (3, 4)	61000.0
  (4, 3)	35.0
  (4, 4)	58000.0
  (5, 3)	48.0
  (5, 4)	79000.0
  (6, 3)	50.0
  (6, 4)	83000.0
  (7, 3)	37.0
  (7, 4)	67000.0

C:\Users\Pankhuri Trikha\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:392: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [48]:
dummy=pd.get_dummies(dataset['Country'])
dummy

   France  Germany  Spain
0       1        0      0
1       0        0      1
2       0        1      0
3       0        0      1
5       1        0      0
7       1        0      0
8       0        1      0
9       1        0      0

In [49]:
dataset=pd.concat([dataset,dummy],axis=1)
dataset

   Country   Age   Salary  Purchased  France  Germany  Spain
0   France  44.0  72000.0          0       1        0      0
1    Spain  27.0  48000.0          1       0        0      1
2  Germany  30.0  54000.0          0       0        1      0
3    Spain  38.0  61000.0          0       0        0      1
5   France  35.0  58000.0          1       1        0      0
7   France  48.0  79000.0          1       1        0      0
8  Germany  50.0  83000.0          0       0        1      0
9   France  37.0  67000.0          1       1        0      0

In [57]:
dataset=dataset.drop(['Country'],axis=1)

In [58]:
dataset.dropna(inplace=True)
y=dataset.iloc[:,2].values
y

array([0, 1, 0, 0, 1, 1, 0, 1], dtype=int64)

In [59]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)
X_train

array([[    1,    30, 54000],
       [    0,    35, 58000],
       [    2,    38, 61000],
       [    0,    37, 67000],
       [    1,    50, 83000],
       [    0,    44, 72000]])

In [60]:
X_test

array([[    2,    27, 48000],
       [    0,    48, 79000]])

In [61]:
y_train

array([0, 1, 0, 1, 0, 0], dtype=int64)

In [55]:
y_test

array([1, 1], dtype=int64)

In [62]:
X

array([[    0,    44, 72000],
       [    2,    27, 48000],
       [    1,    30, 54000],
       [    2,    38, 61000],
       [    0,    35, 58000],
       [    0,    48, 79000],
       [    1,    50, 83000],
       [    0,    37, 67000]])

# FEATURE SCALING OR STANDARDIZATION